
body {
    background-color: #F5F5f5;
}

.content_container {
    padding-top: 64px;
}

.header_buttons_container {
margin-left: 10px;
display: flex;
}

.modal{
    width: 600px;
    background-color: #fff;
    min-height: 400px;
    padding: 20px;
    margin: 40px auto 0;
}